In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('lung_cancer_examples.csv')

In [3]:
df.head()

     Name      Surname  Age  Smokes  AreaQ  Alkhol  Result
0    John         Wick   35       3      5       4       1
1    John  Constantine   27      20      2       5       1
2  Camela     Anderson   30       0      5       2       0
3    Alex       Telles   28       0      8       1       0
4   Diego     Maradona   68       4      5       6       1

In [4]:
X_train,X_test,y_train,y_test = train_test_split(df.drop(['Name','Surname','Result'], axis=1), df['Result'],test_size=0.25, random_state=0)

In [5]:
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import accuracy_score , confusion_matrix , classification_report

In [6]:
svm_clf = SVC(kernel='rbf' , gamma = 0.001 , C = 1)
knn_clf = KNeighborsClassifier(n_neighbors = 3)
dt = DecisionTreeClassifier(max_depth = 3 , criterion = 'entropy' , random_state = 2018)
ada = AdaBoostClassifier(base_estimator = dt , n_estimators = 1000 , learning_rate = 0.1 , random_state = 2018)
mlp = MLPClassifier(activation = 'logistic' , solver = 'sgd' , learning_rate_init = 0.001 , learning_rate = 'constant' , alpha = 1e-4 , hidden_layer_sizes = (100,) , max_iter = 5000 , shuffle = True , random_state = 2018 )

In [7]:
svm_clf.fit(X_train , y_train)
knn_clf.fit(X_train , y_train)
ada.fit(X_train , y_train)
mlp.fit(X_train, y_train)

MLPClassifier(activation='logistic', max_iter=5000, random_state=2018,
              solver='sgd')

In [8]:
svm_pred = svm_clf.predict(X_test)
knn_pred = knn_clf.predict(X_test)
ada_pred = ada.predict(X_test)
mlp_pred = mlp.predict(X_test)

In [9]:
print("Accuracy Score SVM" , accuracy_score(y_test , svm_pred))
print("Accuracy Score KNN" , accuracy_score(y_test , knn_pred))
print("Accuracy Score AdaBoost" , accuracy_score(y_test , ada_pred))
print("Accuracy Score MLP" , accuracy_score(y_test , mlp_pred))

Accuracy Score SVM 1.0
Accuracy Score KNN 1.0
Accuracy Score AdaBoost 0.9333333333333333
Accuracy Score MLP 1.0

In [10]:
import joblib
joblib.dump(ada,'ModelLungCancer2.pkl')

['ModelLungCancer2.pkl']

In [11]:
X = df.drop(['Name','Surname','Result'], axis=1)
X.head()
Y = df['Result']
X.tail()

    Age  Smokes  AreaQ  Alkhol
54   26      13      6       1
55   77      20      5       4
56   75      15      3       5
57   43      30      3       8
58   51      25      9       0

In [12]:
df.isnull().sum()

Name       0
Surname    0
Age        0
Smokes     0
AreaQ      0
Alkhol     0
Result     0
dtype: int64

In [13]:
len(df)

59

In [14]:
modelReload=joblib.load('ModelLungCancer2.pkl')
cnt = 0
for i in range(59):
    testDtaa = pd.DataFrame({'x':X.iloc[i]}).transpose()
    print(modelReload.predict(testDtaa)[0],Y[i])

1 1
1 1
0 0
0 0
1 1
0 0
0 0
0 0
0 0
1 1
0 0
0 0
0 0
1 1
1 1
0 0
1 1
0 0
1 1
1 1
1 1
0 0
0 0
0 0
1 1
0 0
0 0
0 0
1 1
1 1
0 0
1 1
1 1
1 1
0 0
0 0
1 1
1 1
0 0
0 0
1 1
0 0
1 1
1 1
0 0
0 0
1 0
0 0
1 1
1 1
0 0
1 1
1 1
0 0
0 0
1 1
1 1
1 1
0 0